<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Log in - Brand</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
  <link rel="stylesheet" href="assets/css/Team-Horizontal-icons.css">
  <link rel="stylesheet" href="/css/homepage/custom-button.css">
  <link rel="stylesheet" href="assets/css/Team-Horizontal-images.css">

  <!-- script to reuse the navbar -->
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

</head>

<body>
  <!-- NAV BAR: THIS IS THE SAME FOR ALL THE VIEWS -->
  <div id="nav-placeholder"></div>
  <script>
    $(function(){
      // Carica dinamicamente il contenuto
      $("#nav-placeholder").load("/html/nav.html", function() {
        // Il contenuto è stato caricato, ora esegui il codice JavaScript
        const navBarEvent = new Event('navbarLoaded');
        console.log("navbar event dispatched");
        document.dispatchEvent(navBarEvent);

        // A questo punto, il codice JavaScript che dipende dal contenuto della navbar può essere eseguito
        // Esegui eventuali altre operazioni JavaScript per la navbar qui
      });
    });
  </script>
  <!--end of Navigation bar-->

  <section class="py-5">
    <div class="container py-5">
      <div class="row mb-4 mb-lg-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
          <p class="fw-bold text-success mb-2">Security</p>
          <h2 class="fw-bold">Reset Password</h2>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-xl-4">
          <div class="card">
            <div class="card-body text-center d-flex flex-column align-items-center">
              <div class="bs-icon-xl bs-icon-circle bs-icon-primary shadow bs-icon my-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
                  <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.48 1.48 0 0 1 0-2.098zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
                  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                </svg>
              </div>

              <div class="forgot-password-form">
                <form id="forgotPasswordForm">

                  <div class="mb-3">
                    <input class="form-control" type="email" id="email" name="email" placeholder="Email address" required>
                  </div>

                  <div class="mb-3">
                    <button class="btn btn-primary shadow d-block w-100" type="submit">Send email</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="bg-dark"></footer>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/bold-and-dark.js"></script>

  <script src="/js/navbar/nav-bar-logic.js"></script>
  <script src="/js/auth/forgot-password.js"></script>
</body>

</html>