<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Projects</title>

  <!-- Token validation -->
  <script src="/js/auth/token-validation.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', async function () {
      const authToken = localStorage.getItem('authToken');
      const username = localStorage.getItem('username');

      console.log('authToken:', authToken);

      console.log('sending: ' + localStorage.getItem('user-projectIds'));

      if (!authToken || !username) {
        alert('Please login to access your projects');
        window.location.href = '/signin';
        return;
      }

      if (!localStorage.getItem('user-projectIds')) {
        thereAreNoProjects();
        return;
      }
      

      const requestBody = JSON.stringify(localStorage.getItem('user-projectIds'));
      console.log('requestBody:', requestBody);

      const response = fetch('/api/v1/projects/get-by-ids', {
        method: 'POST',
        headers: {
          'Authorization': 'Bearer ' + authToken,
          'Content-Type': 'application/json'
        },
        body: requestBody
      })
      .then(response => response.json())
      .then(userProjects => {
        console.log('userProjects:', userProjects);
        if (userProjects.length === 0) {
          thereAreNoProjects();
        } else {
          displayProjects(userProjects);
        }
      })
      .catch(error => console.error('Error fetching user projects:', error));


    });

    function thereAreNoProjects() {
      const projectListContainer = document.getElementById('projectsList');
      const listItem = document.createElement('li');
      listItem.textContent = 'There are no projects to display.';
      projectListContainer.appendChild(listItem);

      // Create "Go Home" link
      const goHomeLink = document.createElement('a');
      goHomeLink.href = '/';
      goHomeLink.textContent = 'Go Home';
      goHomeLink.style.paddingRight = '10px';
      projectListContainer.appendChild(goHomeLink);

      // Create "Create New Project" link
      const createProjectLink = document.createElement('a');
      createProjectLink.href = '/project/create';
      createProjectLink.textContent = 'Create New Project';
      projectListContainer.appendChild(createProjectLink);
    }

    function displayProjectIds(projectIds) {
      const projectListContainer = document.getElementById('projectsList');
      projectIds.forEach(projectId => {
        const listItem = document.createElement('li');
        listItem.textContent = projectId;
        projectListContainer.appendChild(listItem);
      });
    }
  </script>
</head>
<body>
<h2>Projects</h2>
<ul id="projectsList"></ul>
<!-- <li><a href="/project/1">Project 1</a></li> -->
<!-- <li><a href="/project/2">Project 2</a></li> -->
<!-- <li><a href="/project/3">Project 3</a></li> -->

</body>
</html>