<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Log in - Brand</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
  <link rel="stylesheet" href="/assets/css/Team-Horizontal-icons.css">
  <link rel="stylesheet" href="/css/homepage/custom-button.css">
  <link rel="stylesheet" href="/assets/css/Team-Horizontal-images.css">
  <link rel="stylesheet" href="/css/project/styles.css">

  <!-- script to reuse the navbar -->
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <title>My Projects</title>


  <!-- Token validation -->
  <script src="/js/auth/token-validation.js"></script>

</head>
<body>
<!-- NAV BAR: THIS IS THE SAME FOR ALL THE VIEWS -->
<div id="nav-placeholder"></div>
<script>
  $(function () {
    // Carica dinamicamente il contenuto
    $("#nav-placeholder").load("/assets/html/nav.html", function () {
      // Il contenuto è stato caricato, ora esegui il codice JavaScript
      const navBarEvent = new Event('navbarLoaded');
      console.log("navbar event dispatched");
      document.dispatchEvent(navBarEvent);

      // A questo punto, il codice JavaScript che dipende dal contenuto della navbar può essere eseguito
      // Esegui eventuali altre operazioni JavaScript per la navbar qui
    });
  });
</script>
<!--end of Navigation bar-->

<section class="py-5">
  <div class="container py-5">
    <div class="row mb-4 mb-lg-5">
      <div class="row">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
          <h2 class="fw-bold">Projects</h2>
        </div>
        <div class="col-md-4 text-center mx-auto">
          <button type="button" class="btn btn-primary d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16" style="margin-right: 0.5em;">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>
            New project
          </button>
        </div>
      </div>
      <script>
        document.querySelector('button').addEventListener('click', () => {
          window.location.href = '/project/create';
        });
      </script>

    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 col-xl-4">
        <div class="card">
          <div class="card-body text-center d-flex flex-column align-items-center">
            <div class="bs-icon-xl bs-icon-circle bs-icon-primary shadow bs-icon my-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-calendar2-check" viewBox="0 0 16 16">
                <path d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
                <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
            </div>
            <ul id="projectsList"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="module" src="/js/navbar/nav-bar-logic.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/bold-and-dark.js"></script>
<!-- Fetch projects -->
<script src="/js/project/project-info.js"></script>
</body>
</html>