<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Project details</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
  <link rel="stylesheet" href="/assets/css/Team-Horizontal-icons.css">
  <link rel="stylesheet" href="/css/homepage/custom-button.css">
  <link rel="stylesheet" href="/assets/css/Team-Horizontal-images.css">
  <link rel="stylesheet" href="/css/project/styles.css">

  <!-- script to reuse the navbar -->
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <title>My Projects</title>


  <!-- Token validation -->
  <script src="/js/auth/token-validation.js"></script>

  <style>
    .button-custom {
      background-color: #4CAF50;
      color: white;
      padding: 0.5em 1.5em;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border: none;
      border-radius: 2em;

      /* text align center */
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .common-button-size{
      width: 10em;
      height: 2.5em;
      white-space: nowrap;  /* Avoid multiline */
    }

    .adaptive-dropdown-menu {
      width: auto; /* Allow the dropdown to adjust its width based on content */
      min-width: 300px; /* Optional: Set a minimum width */
    }
  </style>
</head>
<body>
<!-- NAV BAR: THIS IS THE SAME FOR ALL THE VIEWS -->
<div id="nav-placeholder"></div>
<script>
  $(function () {
    // Carica dinamicamente il contenuto
    $("#nav-placeholder").load("/assets/html/nav.html", function () {
      // Il contenuto è stato caricato, ora esegui il codice JavaScript
      const navBarEvent = new Event('navbarLoaded');
      console.log("navbar event dispatched");
      document.dispatchEvent(navBarEvent);

      // A questo punto, il codice JavaScript che dipende dal contenuto della navbar può essere eseguito
      // Esegui eventuali altre operazioni JavaScript per la navbar qui
    });
  });
</script>
<!--end of Navigation bar-->

<section class="py-5">
  <div class="container py-5">
    <div class="row mb-4 mb-lg-5">
        <div class="row">
          <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2 class="fw-bold">Project Details</h2>
          </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-xl-12">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body text-center d-flex flex-column align-items-center">
                <h5 class="card-title" id="projectName">Project Name</h5>
                <p class="card-text" id="projectDescription">Project Description</p>
                <p class="card-text text-muted" id="projectStartingDate">Starting date:
                  YYYY-MM-DD</p>
                <p class="card-text text-muted" id="projectDeadline">Deadline: YYYY-MM-DD</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body text-start">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title">Owner:</h5>
                  </div>
                  <div class="col">
                    <p class="card-text text-muted" id="projectOwner">####</p>
                  </div>
                </div>
                <!--users-->
                <div class="row">
                  <div class="col text-center">
                    <div class="d-flex text-start">
                      <!-- Bottone Users -->
                      <div class="dropdown">
                        <button class="common-button-size button-custom dropdown-toggle me-2" type="button"
                                id="dropdownMenuButtonUsers" data-bs-toggle="dropdown"
                                aria-expanded="false">
                          Users
                        </button>
                        <ul class="adaptive-dropdown-menu dropdown-menu" aria-labelledby="ddmenuUsers">
                          <!-- list of users-->
                        </ul>
                      </div>

                      <!-- Button Edit Users -->
                      <div>
                        <button id="openDialogButton" class="common-button-size button-custom me-2" style="background-color: #0d6efd;">Edit Users</button>

                        <!-- Modal -->
                        <div class="modal fade" id="textDialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Enter some text</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form id="dialogForm">
                                  <div class="mb-3">
                                    <label for="userInput" class="form-label">Text</label>
                                    <input type="text" class="form-control" id="userInput" name="userInput">
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" id="confirmButton">Confirm</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <!--teams-->
                <div class="row">
                  <div class="col text-center">
                    <div class="d-flex text-start">
                      <!-- Bottone Teams -->
                      <div>
                        <button class="common-button-size button-custom dropdown-toggle me-2" type="button"
                                id="dropdownMenuButtonTeams" data-bs-toggle="dropdown"
                                aria-expanded="false">
                          Teams
                        </button>
                        <ul class="adaptive-dropdown-menu dropdown-menu" aria-labelledby="ddmenuTeams">
                          <!-- list of teams -->
                        </ul>
                      </div>

                      <!-- Bottone New Team -->
                      <div>
                        <button id="newTeamButton" type="button" class="common-button-size button-custom me-2" style="background-color: #0d6efd;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16" style="margin-right: 0.5em;">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                          </svg>
                          New Team
                        </button>
                      </div>
                    </div>
                  </div>
                </div>


                <!--artifacts-->
                <div class="dropdown">
                  <button class="common-button-size button-custom dropdown-toggle" type="button"
                          id="dropdownMenuButtonArtifacts" data-bs-toggle="dropdown"
                          aria-expanded="false">
                    Artifacts
                  </button>
                  <ul class="adaptive-dropdown-menu dropdown-menu"
                      aria-labelledby="ddmenuArtifacts">
                    <!--list of artifacts-->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script type="module" src="/js/user/nav-bar-logic.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/bold-and-dark.js"></script>
<script src="/js/project/project-details.js"></script>

<!--<script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<script>
  const openDialogButton = document.getElementById('openDialogButton');
  const textDialog = new bootstrap.Modal(document.getElementById('textDialog'));
  const confirmButton = document.getElementById('confirmButton');

  openDialogButton.addEventListener('click', () => {
    textDialog.show();
  });

  confirmButton.addEventListener('click', () => {
    const userInput = document.getElementById('userInput').value;
    console.log('User input:', userInput);
    textDialog.hide();
  });
</script>
</body>
</html>