<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Profile</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
  <link rel="stylesheet" href="/assets/css/Team-Horizontal-icons.css">
  <link rel="stylesheet" href="/assets/css/Team-Horizontal-images.css">
  <link rel="stylesheet" href="/css/homepage/custom-button.css">

  <!-- script to reuse the navbar -->
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

  <script src="/js/auth/token-validation.js"></script>
</head>

<body>
  <!-- NAV BAR: THIS IS THE SAME FOR ALL THE VIEWS -->
  <div id="nav-placeholder"></div>
  <script>
    $(function(){
      // Carica dinamicamente il contenuto
      $("#nav-placeholder").load("/html/nav.html", function() {
        // Il contenuto è stato caricato, ora esegui il codice JavaScript
        const navBarEvent = new Event('navbarLoaded');
        console.log("navbar event dispatched");
        document.dispatchEvent(navBarEvent);

        // A questo punto, il codice JavaScript che dipende dal contenuto della navbar può essere eseguito
        // Esegui eventuali altre operazioni JavaScript per la navbar qui
      });
    });
  </script>
  <!--end of Navigation bar-->

  <!-- USER INFORMATIONS -->
  <div class="container py-4 py-xl-5">
    <div class="row row-cols-1 row-cols-md-2">
  <!--    <div class="col"><img class="rounded w-100 h-100 fit-cover" style="min-height: 300px;" src="assets/img/jabba.jpg"></div>-->
      <div class="col d-flex flex-column justify-content-center p-4">
        <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
          <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon md">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z"></path>
            </svg>
          </div>

          <div>
            <p>Username: <span id="username"></span></p>
            <p>test: <span th:text="${username}"></span></p>
            <p>Email: <span id="email"></span></p>
            <p>First name: <span id="name"></span></p>
            <p>Last name: <span id="surname"></span></p>
            <a class="btn btn-warning mb-3" th:href="@{/user/{username}/update(username=${username})}">Update Profile</a>
            <a class="btn btn-warning mb-3" th:href="@{/user/{username}/password/update(username=${username})}">Change Password</a>
            <button class="btn btn-danger" id="deleteAccount">Delete Account</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const username = /*[[${username}]]*/ 'username';
      console.log("username nuovo: " + username);
    });
  </script>

  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/bold-and-dark.js"></script>
  <!--<script src="/js/user/get-user-data-script.js"></script>-->
  <script src="/js/user/user-profile-population.js"></script>
  <script src="/js/user/delete-user-script.js"></script>

  <script type="module" src="/js/navbar/nav-bar-logic.js"></script>

</body>

</html>